[submodule "P2/frontend/weather-app"]
	path = P2/frontend/weather-app
	url = https://github.com/Whiskey-Taste/weather-app.git
[submodule "javascript-weather-app"]
	path = javascript-weather-app
	url = https://github.com/Whiskey-Taste/javascript-weather-app.git
[submodule "es6-boilerplate"]
	path = es6-boilerplate
	url = https://github.com/Whiskey-Taste/es6-boilerplate.git
[submodule "React/Project/my-blog"]
	path = React/Project/my-blog
	url = ./React/Project/my-blog
